<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5FH5GGh28_WMOSLwq5xsQseD-eL1jLoU</string>
	<key>GCM_SENDER_ID</key>
	<string>1042508948412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jhhs.626359.CPB-FireBase</string>
	<key>PROJECT_ID</key>
	<string>cpbfirebase-a74ae</string>
	<key>STORAGE_BUCKET</key>
	<string>cpbfirebase-a74ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042508948412:ios:3cfbb918414e3e76a6c1b9</string>
</dict>
</plist>